In [82]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,KFold
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [83]:
train=pd.read_csv("/Users/hemanth/Downloads/ipl/deliveries.csv")

In [84]:
pd.set_option("max_columns",150)
pd.set_option("max_rows",150)

ind=train[train["is_super_over"]==1].index
train.drop(ind,axis=0,inplace=True)

In [85]:
ch1=train.groupby(["batting_team","over"],as_index=False).sum()[["batting_team","over","total_runs"]]
ch2=train.groupby(["batting_team","over"],as_index=False).count()[["batting_team","over","match_id"]]
ch2["match_id"]=ch2["match_id"]/6
ch1["total_runs"]=ch1["total_runs"]/ch2["match_id"]
ch1["batting_avg"]=ch1["total_runs"]

In [86]:
for i in range(len(ch1)):
    print i
    if ch1["batting_team"].iloc[i]==ch1["batting_team"].iloc[i-1]:
        ch1["batting_avg"].iloc[i]=ch1["batting_avg"].iloc[i-1]+ch1["total_runs"].iloc[i]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279

In [87]:
ch2=ch1[ch1["over"]==20]
ch2.columns=[["batting_team","sd","sd","avg"]]
test=pd.merge(ch1,ch2[["batting_team","avg"]],on=["batting_team"],how="left")
test["avg"]=test["avg"]-test["batting_avg"]
test.columns=[["batting_team","over","df","df","bat_runs_avg"]]
test=test[["batting_team","over","bat_runs_avg"]]

In [88]:
ch1=train.groupby(["bowling_team","over"],as_index=False).sum()[["bowling_team","over","total_runs"]]
ch2=train.groupby(["bowling_team","over"],as_index=False).count()[["bowling_team","over","match_id"]]
ch2["match_id"]=ch2["match_id"]/6
ch1["total_runs"]=ch1["total_runs"]/ch2["match_id"]
ch1["batting_avg"]=ch1["total_runs"]

In [89]:
for i in range(len(ch1)):
    print i
    if ch1["bowling_team"].iloc[i]==ch1["bowling_team"].iloc[i-1]:
        ch1["batting_avg"].iloc[i]=ch1["batting_avg"].iloc[i-1]+ch1["total_runs"].iloc[i]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279

In [90]:
ch2=ch1[ch1["over"]==20]
ch2.columns=[["bowling_team","sd","sd","avg"]]
test2=pd.merge(ch1,ch2[["bowling_team","avg"]],on=["bowling_team"],how="left")
test2["avg"]=test2["avg"]-test2["batting_avg"]
test2.columns=[["bowling_team","over","df","df","bowl_runs_avg"]]
test2=test2[["bowling_team","over","bowl_runs_avg"]]

In [91]:
test.columns=[["team","over","bat_runs_avg"]]
test2.columns=[["team","over","bowl_runs_avg"]]
test=pd.merge(test,test2,on=["team","over"],how="left")

In [92]:
check=train[~train["player_dismissed"].isnull()]

In [93]:
ch1=check.groupby(["batting_team","over"],as_index=False).count()[["batting_team","over","total_runs"]]
ch2=train.groupby(["batting_team","over"],as_index=False).count()[["batting_team","over","match_id"]]
ch2["match_id"]=ch2["match_id"]/6
ch1["total_runs"]=ch1["total_runs"]/ch2["match_id"]
ch1["batting_avg"]=ch1["total_runs"]

In [94]:
for i in range(len(ch1)):
    print i
    if ch1["batting_team"].iloc[i]==ch1["batting_team"].iloc[i-1]:
        ch1["batting_avg"].iloc[i]=ch1["batting_avg"].iloc[i-1]+ch1["total_runs"].iloc[i]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278

In [95]:
ch2=ch1[ch1["over"]==20]
ch2.columns=[["batting_team","sd","sd","avg"]]
test2=pd.merge(ch1,ch2[["batting_team","avg"]],on=["batting_team"],how="left")
test2["avg"]=test2["avg"]-test2["batting_avg"]
test2.columns=[["team","over","df","df","bat_wickets_avg"]]
test2=test2[["team","over","bat_wickets_avg"]]

In [101]:
test=pd.merge(test,test2[["team","bat_wickets_avg"]],on=["team"],how="left")

In [102]:
ch1=check.groupby(["bowling_team","over"],as_index=False).count()[["bowling_team","over","total_runs"]]
ch2=train.groupby(["bowling_team","over"],as_index=False).count()[["bowling_team","over","match_id"]]
ch2["match_id"]=ch2["match_id"]/6
ch1["total_runs"]=ch1["total_runs"]/ch2["match_id"]
ch1["batting_avg"]=ch1["total_runs"]

In [103]:
for i in range(len(ch1)):
    print i
    if ch1["bowling_team"].iloc[i]==ch1["bowling_team"].iloc[i-1]:
        ch1["batting_avg"].iloc[i]=ch1["batting_avg"].iloc[i-1]+ch1["total_runs"].iloc[i]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279

In [104]:
ch2=ch1[ch1["over"]==20]
ch2.columns=[["bowling_team","sd","sd","avg"]]
test2=pd.merge(ch1,ch2[["bowling_team","avg"]],on=["bowling_team"],how="left")
test2["avg"]=test2["avg"]-test2["batting_avg"]
test2.columns=[["team","over","df","df","bowl_wickets_avg"]]
test2=test2[["team","over","bowl_wickets_avg"]]

In [105]:
test=pd.merge(test,test2[["team","bowl_wickets_avg"]],on=["team"],how="left")

In [106]:
test

,team,over,bat_runs_avg,bowl_runs_avg,bat_wickets_avg,bowl_wickets_avg
0,Chennai Super Kings,1,155.336831,147.984656,5.147297,6.390124
1,Chennai Super Kings,1,155.336831,147.984656,5.147297,6.186240
2,Chennai Super Kings,1,155.336831,147.984656,5.147297,5.893200
3,Chennai Super Kings,1,155.336831,147.984656,5.147297,5.663853
4,Chennai Super Kings,1,155.336831,147.984656,5.147297,5.374249
5,Chennai Super Kings,1,155.336831,147.984656,5.147297,5.083566
6,Chennai Super Kings,1,155.336831,147.984656,5.147297,4.885764
7,Chennai Super Kings,1,155.336831,147.984656,5.147297,4.709293
8,Chennai Super Kings,1,155.336831,147.984656,5.147297,4.472840
9,Chennai Super Kings,1,155.336831,147.984656,5.147297,4.232239
10,Chennai Super Kings,1,155.336831,147.984656,5.147297,3.961222
11,Chennai Super Kings,1,155.336831,147.984656,5.147297,3.709953
12,Chennai Super Kings,1,155.336831,147.984656,5.147297,3.429296
13,Chennai Super Kings,1,155.336831,147.984656,5.147297,3.153786
14,Chennai Super Kings,1,155.336831,147.984656,5.147297,2.790384
15,Chennai Super Kings,1,155.336831,147.984656,5.147297,2.462685
16,Chennai Super Kings,1,155.336831,147.984656,5.147297,2.037552
17,Chennai Super Kings,1,155.336831,147.984656,5.147297,1.522059
18,Chennai Super Kings,1,155.336831,147.984656,5.147297,0.845501
19,Chennai Super Kings,1,155.336831,147.984656,5.147297,0.000000
20,Chennai Super Kings,1,155.336831,147.984656,5.016546,6.390124
21,Chennai Super Kings,1,155.336831,147.984656,5.016546,6.186240
22,Chennai Super Kings,1,155.336831,147.984656,5.016546,5.893200
23,Chennai Super Kings,1,155.336831,147.984656,5.016546,5.663853
24,Chennai Super Kings,1,155.336831,147.984656,5.016546,5.374249
25,Chennai Super Kings,1,155.336831,147.984656,5.016546,5.083566
26,Chennai Super Kings,1,155.336831,147.984656,5.016546,4.885764
27,Chennai Super Kings,1,155.336831,147.984656,5.016546,4.709293
28,Chennai Super Kings,1,155.336831,147.984656,5.016546,4.472840
29,Chennai Super Kings,1,155.336831,147.984656,5.016546,4.232239
30,Chennai Super Kings,1,155.336831,147.984656,5.016546,3.961222
31,Chennai Super Kings,1,155.336831,147.984656,5.016546,3.709953
32,Chennai Super Kings,1,155.336831,147.984656,5.016546,3.429296
33,Chennai Super Kings,1,155.336831,147.984656,5.016546,3.153786
34,Chennai Super Kings,1,155.336831,147.984656,5.016546,2.790384
35,Chennai Super Kings,1,155.336831,147.984656,5.016546,2.462685
36,Chennai Super Kings,1,155.336831,147.984656,5.016546,2.037552
37,Chennai Super Kings,1,155.336831,147.984656,5.016546,1.522059
38,Chennai Super Kings,1,155.336831,147.984656,5.016546,0.845501
39,Chennai Super Kings,1,155.336831,147.984656,5.016546,0.000000
40,Chennai Super Kings,1,155.336831,147.984656,4.818744,6.390124
41,Chennai Super Kings,1,155.336831,147.984656,4.818744,6.186240
42,Chennai Super Kings,1,155.336831,147.984656,4.818744,5.893200
43,Chennai Super Kings,1,155.336831,147.984656,4.818744,5.663853
44,Chennai Super Kings,1,155.336831,147.984656,4.818744,5.374249
45,Chennai Super Kings,1,155.336831,147.984656,4.818744,5.083566
46,Chennai Super Kings,1,155.336831,147.984656,4.818744,4.885764
47,Chennai Super Kings,1,155.336831,147.984656,4.818744,4.709293
48,Chennai Super Kings,1,155.336831,147.984656,4.818744,4.472840
49,Chennai Super Kings,1,155.336831,147.984656,4.818744,4.232239
50,Chennai Super Kings,1,155.336831,147.984656,4.818744,3.961222
51,Chennai Super Kings,1,155.336831,147.984656,4.818744,3.709953
52,Chennai Super Kings,1,155.336831,147.984656,4.818744,3.429296
53,Chennai Super Kings,1,155.336831,147.984656,4.818744,3.153786
54,Chennai Super Kings,1,155.336831,147.984656,4.818744,2.790384
55,Chennai Super Kings,1,155.336831,147.984656,4.818744,2.462685
56,Chennai Super Kings,1,155.336831,147.984656,4.818744,2.037552
57,Chennai Super Kings,1,155.336831,147.984656,4.818744,1.522059
58,Chennai Super Kings,1,155.336831,147.984656,4.818744,0.845501
59,Chennai Super Kings,1,155.336831,147.984656,4.818744,0.000000
60,Chennai Super Kings,1,155.336831,147.984656,4.607322,6.390124
61,Chennai Super Kings,1,155.336831,147.984656,4.607322,6.186240
62,Chennai Super Kings,1,155.336831,147.984656,4.607322,5.893200
63,Chennai Super Kings,1,155.336831,147.984656,4.607322,5.663853
64,Chennai Super Kings,1,155.336831,147.984656,4.607322,5.374249
65,Chennai Super Kings,1,155.336831,147.984656,4.607322,5.083566
66,Chennai Super Kings,1,155.336831,147.984656,4.607322,4.885764
67,Chennai Super Kings,1,155.336831,147.984656,4.607322,4.709293
68,Chennai Super Kings,1,155.336831,147.984656,4.607322,4.472840
69,Chennai Super Kings,1,155.336831,147.984656,4.607322,4.232239
70,Chennai Super Kings,1,155.336831,147.984656,4.607322,3.961222
71,Chennai Super Kings,1,155.336831,147.984656,4.607322,3.709953
72,Chennai Super Kings,1,155.336831,147.984656,4.607322,3.429296
73,Chennai Super Kings,1,155.336831,147.984656,4.607322,3.153786
74,Chennai Super Kings,1,155.336831,147.984656,4.607322,2.790384
...,...,...,...,...,...,...
111525,Sunrisers Hyderabad,20,0.000000,0.000000,1.669671,5.136151
111526,Sunrisers Hyderabad,20,0.000000,0.000000,1.669671,4.912956
111527,Sunrisers Hyderabad,20,0.000000,0.000000,1.669671,4.648055
111528,Sunrisers Hyderabad,20,0.000000,0.000000,1.669671,4.410692
111529,Sunrisers Hyderabad,20,0.000000,0.000000,1.669671,4.105383
111530,Sunrisers Hyderabad,20,0.000000,0.000000,1.669671,3.879219
111531,Sunrisers Hyderabad,20,0.000000,0.000000,1.669671,3.594151
111532,Sunrisers Hyderabad,20,0.000000,0.000000,1.669671,3.335647
111533,Sunrisers Hyderabad,20,0.000000,0.000000,1.669671,2.923748
111534,Sunrisers Hyderabad,20,0.000000,0.000000,1.669671,2.730200
111535,Sunrisers Hyderabad,20,0.000000,0.000000,1.669671,2.414410
111536,Sunrisers Hyderabad,20,0.000000,0.000000,1.669671,2.041996
111537,Sunrisers Hyderabad,20,0.000000,0.000000,1.669671,1.437781
111538,Sunrisers Hyderabad,20,0.000000,0.000000,1.669671,0.885542
111539,Sunrisers Hyderabad,20,0.000000,0.000000,1.669671,0.000000
111540,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,6.229353
111541,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,6.014616
111542,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,5.824342
111543,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,5.583835
111544,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,5.355505
111545,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,5.136151
111546,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,4.912956
111547,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,4.648055
111548,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,4.410692
111549,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,4.105383
111550,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,3.879219
111551,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,3.594151
111552,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,3.335647
111553,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,2.923748
111554,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,2.730200
111555,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,2.414410
111556,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,2.041996
111557,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,1.437781
111558,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,0.885542
111559,Sunrisers Hyderabad,20,0.000000,0.000000,1.196698,0.000000
111560,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,6.229353
111561,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,6.014616
111562,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,5.824342
111563,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,5.583835
111564,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,5.355505
111565,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,5.136151
111566,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,4.912956
111567,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,4.648055
111568,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,4.410692
111569,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,4.105383
111570,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,3.879219
111571,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,3.594151
111572,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,3.335647
111573,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,2.923748
111574,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,2.730200
111575,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,2.414410
111576,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,2.041996
111577,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,1.437781
111578,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,0.885542
111579,Sunrisers Hyderabad,20,0.000000,0.000000,0.682809,0.000000
111580,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,6.229353
111581,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,6.014616
111582,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,5.824342
111583,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,5.583835
111584,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,5.355505
111585,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,5.136151
111586,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,4.912956
111587,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,4.648055
111588,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,4.410692
111589,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,4.105383
111590,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,3.879219
111591,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,3.594151
111592,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,3.335647
111593,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,2.923748
111594,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,2.730200
111595,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,2.414410
111596,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,2.041996
111597,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,1.437781
111598,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,0.885542
111599,Sunrisers Hyderabad,20,0.000000,0.000000,0.000000,0.000000